Global Terrorism - START data.zip
india-news-headlines.csv
Iris.csv
Task03/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Task02/.ipynb_checkpoints/Task02-checkpoint.ipynb
Task01/.ipynb_checkpoints/Task01-checkpoint.ipynb
Task06/.ipynb_checkpoints/Task06-checkpoint.ipynb
